.shortcut {
  /* border: 1px solid aliceblue; */
  padding: 10px;
  width: fit-content;
}

.shortcutButton {
  background-color: aqua;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  font-size: 30px;
}

.label {
  color: aliceblue;
  text-align: center;
}
