[data-theme="default"] .shortcut {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 150ms;
  width: 5rem;
}

.shortcut:hover {
  background: rgba(37, 99, 235, 0.4);
}

[data-theme="default"] .iconContainer {
  background-color: white;
}

[data-theme="default"] .label {
  color: aliceblue;
  text-align: center;
}
