.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* CSS needs position: relative so that the absolutely positioned windows are positioned 
  relative to it, not relative to the browser window. */
  /* position: relative; */
}
