[data-theme="default"] .desktop {
  /* flex: 1; */
  background: linear-gradient(135deg, #60a5fa 0%, #a855f7 50%, #ec4899 100%);
  overflow: hidden;
  position: relative;

  height: 100vh;
  width: 100vw;
}

.wallpaper {
  position: absolute;
  /* stretch to fill the edges of desktop */
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
}

.bgPattern {
  position: absolute;
  inset: 0;
  opacity: 0.1;
  /* Gives dotted overlay pattern */
  /* https://youtu.be/4kWHW7da4U8?si=-3cukNa-SSRZcq71 */
  background-image:
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      white 2px,
      white 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      white 2px,
      white 4px
    );
}

.shortcutContainer {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.welcomeContainer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.welcomeSubheader {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  margin-bottom: 2rem;
}

.welcomeBtnContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  pointer-events: auto;
}

.getStartedBtn {
  padding: 0.75rem 1.5rem;
  background: white;
  color: #1e293b;
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 150ms;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.viewProjectsBtn {
  padding: 0.75rem 1.5rem;
  background: #2563eb;
  color: white;
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 150ms;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.gameShortcut {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: linear-gradient(135deg, #c084fc, #ec4899);
}
